<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fengling.mapper.AnnouncementInfoMapper">

    <!--公告列表查询-->
    <select id="listAnnouncement" resultType="com.fengling.entity.dto.AdminAnnouncementListRespDto">
        select ai.id,
               ai.title,
               ai.announcement_type as announcementType,
               ai.publish_time      as publishTime,
               ai.publish_status    as publishStatus
        from announcement_info ai
        order by ai.create_time desc
    </select>

    <!--公告详情查询-->
    <select id="getAnnouncement" resultType="com.fengling.entity.dto.AdminAnnouncementRespDto">
        select ai.id,
               ai.title,
               ai.announcement_type as announcementType,
               ai.content,
               ai.publish_status    as publishStatus
        from announcement_info ai
        where ai.id = #{announcementId}
    </select>

    <!--作家后台公告列表查询-->
    <select id="listAnnouncementAuthor" resultType="com.fengling.entity.dto.AnnouncementRespDto">
        select ai.id,
               ai.title,
               ai.publish_time as publishTime
        from announcement_info ai
        where ai.publish_status = 0
          and (ai.announcement_type = 1 or ai.announcement_type = 0)
        order by ai.publish_time desc
    </select>

    <!--用户公告列表查询-->
    <select id="listAnnouncementUser" resultType="com.fengling.entity.dto.AnnouncementRespDto">
        select ai.id,
               ai.title,
               ai.publish_time as publishTime
        from announcement_info ai
        where ai.publish_status = 0
          and (ai.announcement_type = 2 or ai.announcement_type = 0)
        order by ai.publish_time desc
    </select>
</mapper>
