<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fengling.mapper.BookInfoChangeMapper">
    <!--查询审核列表-->
    <select id="listBookInfoAudits" resultType="com.fengling.entity.dto.AuthorBookInfoAuditRespDto">
        select bic.id,
               bic.book_id        as bookId,
               bi.book_name       as bookName,
               bic.book_name      as bookNameChange,
               bic.book_intro     as bookIntro,
               bic.cover_url      as coverUrl,
               bic.publish_status as publishStatus,
               bic.audit_status   as auditStatus,
               ui.nick_name       as adminName,
               bic.update_time    as submitTime,
               bic.audit_time     as auditTime,
               bic.audit_remark   as auditRemark,
               bic.audit_type     as auditType
        from book_info_change bic
                 left join book_info bi on bic.book_id = bi.id
                 left join user_info ui on bic.audit_admin_id = ui.id
        where bic.author_id = #{authorId}
        order by bi.update_time desc
    </select>

    <!--变更信息详情查询-->
    <select id="getAuditInfo" resultType="com.fengling.entity.dto.AuthorAuditInfoRespDto">
        select bic.id,
               bi.book_name       as bookName,
               bic.book_name      as bookNameChange,
               bic.book_intro     as bookIntro,
               bic.cover_url      as coverUrl,
               bic.publish_status as publishStatus,
               bic.audit_status   as auditStatus,
               bic.audit_type     as auditType,
               bic.audit_remark   as auditRemark,
               bic.audit_time     as auditTime,
               ui.nick_name       as auditName
        from book_info_change bic
                 left join book_info bi on bic.book_id = bi.id
                 left join user_info ui on bic.audit_admin_id = ui.id
        where bic.id = #{auditId}
          and bic.author_id = #{authorId}
    </select>
    <select id="listAdminAuditList" resultType="com.fengling.entity.dto.AdminAuditListRespDto">
        select bic.id,
               bic.book_id     as bookId,
               bic.author_id   as authorId,
               ai.author_name  as authorName,
               bi.book_name    as bookName,
               bi.cover_url    as coverUrl,
               bic.create_time as subTime,
               bic.audit_type  as auditType
        from book_info_change bic
                 inner join book_info bi on bic.book_id = bi.id
                 inner join author_info ai on bic.author_id = ai.id
        where bic.audit_type = 2
        and  bic.audit_status = #{auditStatus}
        order by bic.create_time
    </select>
</mapper>
