<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fengling.mapper.BookMapper">

    <!--查询某分类下的小说-->
    <select id="selectCategoryNovelPage" resultType="com.fengling.entity.dto.BookListRespDto">
        select bi.id,
               bi.book_name           as bookName,
               bi.cover_url           as coverUrl,
               ai.author_name         as authorName,
               bi.category_id         as categoryId,
               bi.update_status       as updateStatus,
               bi.book_intro          as bookIntro,
               bi.word_count          as wordCount,
               bi.latest_chapter_id   as latestChapterId,
               bi.latest_chapter_name as latestChapterName
        from book_info as bi
                 left join author_info ai on bi.author_id = ai.id
        where bi.category_id = #{categoryId}
    </select>

    <!--查询全部小说-->
    <select id="selectAllNovelPage" resultType="com.fengling.entity.dto.BookListRespDto">
        select bi.id,
               bi.book_name           as bookName,
               bi.cover_url           as coverUrl,
               ai.author_name         as authorName,
               bi.category_id         as categoryId,
               bi.update_status       as updateStatus,
               bi.book_intro          as bookIntro,
               bi.word_count          as wordCount,
               bi.latest_chapter_id   as latestChapterId,
               bi.latest_chapter_name as latestChapterName
        from book_info as bi
                 left join author_info ai on bi.author_id = ai.id
        order by bi.update_time desc
    </select>

    <!--根据bookID查询书架详情-->
    <select id="getBookInfoById"  resultType="com.fengling.entity.dto.BookInfoRespDto">
        select bi.id,
               bi.book_name           as bookName,
               bi.cover_url           as coverUrl,
               ai.author_name         as authorName,
               bc.category_name       as categoryName,
               bi.update_status       as updateStatus,
               bi.book_intro          as bookIntro,
               bi.chapter_count       as chapterCount,
               bi.word_count          as wordCount,
               bi.latest_chapter_id   as latestChapterId,
               bi.latest_chapter_name as latestChapterName,
               bi.last_chapter_time   as lastChapterTime
        from book_info as bi
                 left join author_info as ai on bi.author_id = ai.id
                 left join book_category as bc on bi.category_id = bc.id
        where bi.id = #{bookId};
    </select>

    <!--最新上架书籍查询-->
    <select id="listRecentBookList" resultType="com.fengling.entity.dto.BookRecentListRespDto">
        select bi.id,
               bi.book_name     as bookName,
               bi.cover_url     as coverUrl,
               ai.author_name   as authorName,
               bi.book_intro    as bookIntro,
               bc.category_name as categoryName
        from book_info bi
                 left join author_info ai on bi.author_id = ai.id
                 left join book_category bc on bi.category_id = bc.id
        where bi.publish_status = 1
        order by bi.create_time desc
        limit #{limit}
    </select>

</mapper>
