<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fengling.mapper.BookInfoChangeMapper">
    <!--查询审核列表-->
    <select id="listBookInfoAudits" resultType="com.fengling.entity.dto.AuthorBookInfoAuditRespDto">
        select bic.id,
               bic.book_id        as bookId,
               bi.book_name       as bookName,
               bic.book_name      as bookNameChange,
               bic.book_intro     as bookIntro,
               bic.cover_url      as coverUrl,
               bic.publish_status as publishStatus,
               bic.audit_status   as auditStatus,
               ui.nick_name       as adminName,
               bic.update_time    as submitTime,
               bic.audit_time     as auditTime,
               bic.audit_remark   as auditRemark,
               bic.audit_type     as auditType
        from book_info_change bic
                 left join book_info bi on bic.book_id = bi.id
                 left join user_info ui on bic.audit_admin_id = ui.id
        where bic.author_id = #{authorId}
        order by bi.update_time desc
    </select>

    <!--变更信息详情查询-->
    <select id="getAuditInfo" resultType="com.fengling.entity.dto.AuthorAuditInfoRespDto">
        select bic.id,
               bi.book_name       as bookName,
               bic.book_name      as bookNameChange,
               bic.book_intro     as bookIntro,
               bic.cover_url      as coverUrl,
               bic.publish_status as publishStatus,
               bic.audit_status   as auditStatus,
               bic.audit_type     as auditType,
               bic.audit_remark   as auditRemark,
               bic.audit_time     as auditTime,
               ui.nick_name       as auditName
        from book_info_change bic
                 left join book_info bi on bic.book_id = bi.id
                 left join user_info ui on bic.audit_admin_id = ui.id
        where bic.id = #{auditId}
          and bic.author_id = #{authorId}
    </select>
    <select id="listAdminAuditList" resultType="com.fengling.entity.dto.AdminAuditListRespDto">
        select bic.id,
               bic.book_id     as bookId,
               bic.author_id   as authorId,
               ai.author_name  as authorName,
               bi.book_name    as bookName,
               bi.cover_url    as coverUrl,
               bic.create_time as subTime,
               bic.audit_type  as auditType
        from book_info_change bic
                 inner join book_info bi on bic.book_id = bi.id
                 inner join author_info ai on bic.author_id = ai.id
        where bic.audit_type = 2
        and  bic.audit_status = #{auditStatus}
        order by bic.create_time
    </select>

    <!--查询新建作品审核列表-->
    <select id="listAdminAuditCreateList" resultType="com.fengling.entity.dto.AdminAuditCreateListRespDto">
        select bic.id,
               bic.book_id     as bookId,
               bic.book_name   as bookName,
               bic.cover_url   as coverUrl,
               bic.author_id   as authorId,
               ai.author_name  as authorName,
               bic.create_time as subTime
        from book_info_change bic
                 inner join author_info ai on bic.author_id = ai.id
        where bic.audit_type = 1
          and bic.audit_status = #{auditStatus}
        order by bic.create_time
    </select>

    <!--章节审核列表查询-->
    <select id="listAdminAuditChaptersList" resultType="com.fengling.entity.dto.AdminAuditChaptersListRespDto">
        select ca.id,
               ca.chapter_id   as chapterId,
               bi.book_name    as bookName,
               ca.author_id    as authorId,
               ai.author_name  as authorName,
               bc.chapter_name as chapterName,
               bc.word_count   as wordCount,
               ca.update_time  as subTime
        from chapter_audit ca
                 inner join book_info bi on ca.book_id = bi.id
                 inner join author_info ai on ca.author_id = ai.id
                 inner join book_chapter bc on ca.chapter_id = bc.id
        where ca.audit_status = #{auditStatus}
        order by ca.update_time desc
    </select>

    <!--变更信息审核信息详情查询-->
    <select id="getAdminAuditInfo" resultType="com.fengling.entity.dto.AdminAuditInfoRespDto">
        select bic.id,
               bi.book_name       as bookName,
               ai.author_name     as authorName,
               bic.book_name      as bookNameChange,
               bic.book_intro     as bookIntro,
               bic.cover_url      as coverUrl,
               bic.publish_status as publishStatus,
               bic.audit_type     as auditType,
               bic.audit_status   as auditStatus,
               bic.audit_remark   as auditRemark,
               bic.audit_time     as auditTime,
               bic.create_time    as subTime
        from book_info_change bic
                 inner join book_info bi on bic.book_id = bi.id
                 inner join author_info ai on bic.author_id = ai.id
        where bic.id = #{auditId}
          and bic.book_id = #{bookId}
          and bic.author_id = #{authorId}
          and bic.audit_status = #{auditStatus}
    </select>

    <!--新书审核信息详情查询-->
    <select id="getAuditCreateInfo" resultType="com.fengling.entity.dto.AdminAuditCreateRespDto">
        select bic.id,
               bic.book_name    as bookName,
               bic.author_id    as authorId,
               ai.author_name   as authorName,
               ui.nick_name     as auditAdminName,
               bic.book_intro   as bookIntro,
               bic.cover_url    as coverUrl,
               bic.audit_remark as auditRemark,
               bic.audit_type   as auditType,
               bic.audit_status as auditStatus,
               bic.create_time  as subTime,
               bic.audit_time   as auditTime
        from book_info_change bic
                 inner join author_info ai on bic.author_id = ai.id
                 left join user_info ui on bic.audit_admin_id = ui.id
        where bic.id = #{auditId}
          and bic.audit_status = #{auditStatus}
          and bic.audit_type = 1
    </select>
</mapper>
