<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fengling.mapper.BookInfoChangeMapper">

    <select id="listBookInfoAudits" resultType="com.fengling.entity.dto.AuthorBookInfoAuditRespDto">
        select bic.id,
               bic.book_id        as bookId,
               bi.book_name       as bookName,
               bic.book_name      as bookNameChange,
               bic.book_intro     as bookIntro,
               bic.cover_url      as coverUrl,
               bic.publish_status as publishStatus,
               bic.audit_status   as auditStatus,
               ui.nick_name       as adminName,
               bic.update_time    as submitTime,
               bic.audit_time     as auditTime,
               bic.audit_remark   as auditRemark
        from book_info_change bic
                 inner join book_info bi on bic.book_id = bi.id
                 left join user_info ui on bic.audit_admin_id = ui.id
        where bic.author_id = #{authorId}
        order by bi.update_time desc
    </select>
</mapper>
