<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fengling.mapper.ChapterMapper">

    <select id="getChapterListByBookId" resultType="com.fengling.entity.dto.ChapterListRespDto">
        select bc.id,
               bc.chapter_name as chapterName
        from book_chapter as bc
        where book_id = #{bookId}
          and bc.chapter_status = 1
        order by chapter_num asc
    </select>

    <!--小说阅读页-->
    <select id="getBookContentById" resultType="com.fengling.entity.dto.ChapterContentRespDto">
        select bc.id,
               bc.book_id         as bookId,
               bc.chapter_num     as chapterNum,
               bc.chapter_name    as chapterName,
               bc.chapter_content as chapterContent
        from book_chapter as bc
        where bc.id = #{chapterId}
          and bc.book_id = #{bookId}
          and bc.chapter_status = 1
    </select>

    <!--获取上一章id-->
    <select id="getPreChapterId" resultType="java.lang.Long">
        select id
        from book_chapter
        where book_id = #{bookId}
          and chapter_num &lt; #{chapterNum}
          and chapter_status = 1
        order by chapter_num desc
        limit 1
    </select>

    <!--获取下一章id-->
    <select id="getNextChapterId" resultType="java.lang.Long">
        select bc.id
        from book_chapter as bc
        where bc.book_id = #{bookId}
          and bc.chapter_num &gt; #{chapterNum}
          and chapter_status = 1
        order by bc.chapter_num
        limit 1
    </select>

    <!--获取某作家下的所有草稿-->
    <select id="listAuthorDrafts" resultType="com.fengling.entity.dto.AuthorDraftsRespDto">
        select bc.id,
        bc.book_id as bookId,
        bc.chapter_name as chapterName,
        bi.book_name as bookName,
        bc.chapter_content as chapterContent,
        bc.word_count as wordCount,
        bc.update_time as updateTime
        from book_chapter bc
        left join book_info bi on bc.book_id = bi.id
        where bc.book_id in
        <foreach collection="bookIdList" item="bookId" open="(" separator="," close=")">
            #{bookId}
        </foreach>
        and bc.chapter_status = 0
        order by bc.update_time desc
    </select>

    <!--查询某小说的某章节信息-->
    <select id="getChapterInfo" resultType="com.fengling.entity.dto.ChapterEditInfoRespDto">
        select bc.id,
               bi.book_name       as bookName,
               bc.chapter_name    as chapterName,
               bc.chapter_content as chapterContent,
               bc.word_count      as wordCount
        from book_chapter bc
                 inner join book_info bi on bc.book_id = bi.id
        where bc.id = #{chapterId}
          and bc.book_id = #{bookId}
          and bi.author_id = #{authorId}
    </select>

    <!--查询审核章节-->
    <select id="listAudits" resultType="com.fengling.entity.dto.AuthorAuditListRespDto">
        select bc.id,
               bc.book_id      as bookId,
               bc.chapter_name as chapterName,
               bi.book_name    as bookName,
               bc.word_count   as wordCount,
               bc.update_time  as applicationTime
        from book_chapter bc
                 inner join book_info bi on bc.book_id = bi.id
        where bi.author_id = #{authorId}
          and bc.chapter_status = 3
        order by bc.update_time desc
    </select>

    <!--查询作家下某作品详情的小说目录-->
    <select id="listChapters" resultType="com.fengling.entity.dto.BookChapterListRespDto">
        select bc.id,
               bc.chapter_name as chapterName,
               bc.chapter_num as chapterNum,
               bc.word_count as wordCount,
               bc.chapter_status as chapterStatus
        from book_chapter bc
        inner join book_info bi on bc.book_id = bi.id
        where bc.book_id = #{bookId} and bi.author_id = #{authorId}
        order by bc.chapter_num
    </select>

    <!--更新章节信息-->
    <update id="updateChapterInfo">
        update book_chapter bc
        inner join book_info bi on bc.book_id = bi.id
        <set>
            <if test="chapterUpdateReqDto.chapterName != null">
                bc.chapter_name =
                #{chapterUpdateReqDto.chapterName},
            </if>
            <if test="chapterUpdateReqDto.chapterContent != null">
                bc.chapter_content =
                #{chapterUpdateReqDto.chapterContent},
                bc
                .
                word_count
                =
                char_length
                (
                #{chapterUpdateReqDto.chapterContent}
                ),
            </if>
            <if test="chapterUpdateReqDto.chapterStatus != null">
                bc.chapter_status =
                #{chapterUpdateReqDto.chapterStatus},
            </if>
            bc.update_time = now()
        </set>
        where bc.id = #{chapterId}
        and bc.book_id = #{bookId}
        and bi.author_id = #{authorId}
    </update>

    <!--撤回审核中的章节-->
    <update id="updateChapterStatus">
        update book_chapter bc
        inner join book_info bi on bc.book_id = bi.id
        set bc.chapter_status = 0,
            bc.update_time = now()
        where bc.id = #{chapterId}
        and bc.book_id = #{bookId}
        and bi.author_id = #{authorId}
        and bc.chapter_status = 3

    </update>

    <!--新增章节信息-->
    <insert id="saveChapterInfo"
            useGeneratedKeys="true"
            keyProperty="chapterInfo.id"
            keyColumn="id"
    >
        insert into book_chapter(
            book_id,
            chapter_num,
            chapter_name,
            chapter_content,
            word_count,
            chapter_status,
            publish_time,
            create_time,
            update_time
        ) select
            #{bookId},
            #{chapterInfo.chapterNum},
            #{chapterInfo.chapterName},
            #{chapterInfo.chapterContent},
            char_length(#{chapterInfo.chapterContent}),
            #{chapterInfo.chapterStatus},
            #{chapterInfo.publishTime},
            now(),
            now()
        from book_info bi
        where bi.id = #{bookId}
        and bi.author_id = #{authorId}
    </insert>

    <!--删除章节-->
    <delete id="deleteChapters">
        delete bc
        from book_chapter bc
        inner join book_info bi on bc.book_id = bi.id
        where bc.book_id = #{bookId}
        and bi.author_id = #{authorId}
        and bc.id in
        <foreach collection="chapterIdList" item="chapterId" open="(" separator="," close=")">
            #{chapterId}
        </foreach>
    </delete>
</mapper>
